* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  color: #FFF;
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}